
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    border-bottom: 1px solid rgb(218, 211, 211);
  }

.parrafo{
    font-weight: lighter;
    font-size: 12px;
}

.container-in-2{
    position: relative;
    top: 10px;
}

  .inputPassword{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
  }

.imagenBoton{
    width: 25px;
    height: 25px;
}

.inputRange{
    width: 190px;
    height: 8px;
    position: relative;
    left: 39px;
    
}

.inputNumber{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

button{
    background: none;
    border: none;
}

.botonEnviar{
    border-radius: 3px;
    border: 1px solid black;
    width: 80px;
    height: 33px;
}

.botonEnviar:hover{
    background-color:rgb(118, 223, 188);
}

.botonEnviar:active{
    background-color:rgb(192, 242, 226);
}
.imagenBoton{
    position: relative;
    top: 6px;
}